*{
    list-style-type: none;
}
img{
    width: 70px;
  height: 70px;
}
/* ___________________________________________________ */
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    border: 5px solid aqua;
}
/* ___________________________________________________ */
.sidebar{
    border: 5px solid mediumvioletred;
    grid-area: 1/1/3/2;
}
/* ___________________________________________________ */
.header{
    border: 5px solid plum;
    grid-area: 1/2/2/2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
}
.header>*{
    align-items: center;
    justify-content: space-evenly
}
.greetings{
    border: 5px solid red;
    display: flex;
    gap: 20px;
}
.greetings p::first-line{
    font-size: x-small;
}
.greetings p{
    width: 80% ;
}
.topright{
    border: 5px solid blue;
    display: flex;
}
.topright img{
    width: 50px;
    height: 50px;
}
.topright::before{
    content: url("icons/bell-alert-outline.svg");
}
.buttons{
    border: 5px solid green;
    display: flex;
}
.search{
    border: 5px solid yellow;
    display: flex;
}
input{
    border-radius: 15px;
    background-color:  lightgray;
    border: none;
    width: 90%;
}
.search::before{
    content: url("icons/magnify.svg");
}
/* ___________________________________________________ */
.main-content{
    border: 5px solid slateblue;
    display: grid;
    grid-template-columns: 3fr 1fr;
}
.main-content>*{
    border: 5px solid aquamarine;
}
.announcements{
    display: grid;
    grid-template-rows: 1fr;
    align-items: center;
    justify-items: center;
    gap: 10px;
}
.announcements>*{
    border: 5px solid orange;
}
.announcements div{
    display: flex;
    align-items: center;
}
.announcements div>*{
    border: 5px solid palevioletred;
}
.announcements p{
    font-size: x-small;
}
.announcements p::first-line{
    font-weight: bold;
}
.trending{
    display: grid;
}
.trending>*{
    border: 5px solid pink;
}
.trending div{
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 10px;
}
.trending div>*{
    border: 5px solid greenyellow;
}
.trending img{
    width: 40px;
    height: 40px;
    grid-row: 1/3;
}
.trending p{
    font-size: x-small;
}
.trending p::first-line{
    font-weight: bold;
}
.your-projects{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(300px,1fr));
    gap: 20px;
}
.your-projects>*{
    border: 5px solid burlywood;
}
.card>p:first-child::first-line{
    font-weight: bold;
}
.card>p:nth-child(2){
font-size: small;
}
.card{
    display: grid;
    grid-template-rows: 1fr;
}
.card>*{
    border: 5px solid red;
}
.card img{
    width: 20px;
    height: 20px;
}

.three-svg{
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}