*{
    list-style-type: none;
}
img{
    width: 70px;
  height: 70px;
}
/* ___________________________________________________ */
.container{
    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-rows: 1fr 4fr;
    border: 5px solid aqua;
}
/* ___________________________________________________ */
.sidebar{
    border: 5px solid mediumvioletred;
    grid-area: 1/1/3/2;
}
/* ___________________________________________________ */
.header{
    border: 5px solid plum;
    grid-area: 1/2/2/2;
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-rows: 1fr 2fr;
}
.header>*{
    align-items: center;
    justify-content: space-evenly
}
.greetings{
    border: 5px solid red;
    display: flex;
    gap: 20px;
}
.greetings p::first-line{
    font-size: x-small;
}
.greetings p{
    width: 80% ;
}
.topright{
    border: 5px solid blue;
    display: flex;
}
.topright img{
    width: 50px;
    height: 50px;
}
.topright::before{
    content: url("icons/bell-alert-outline.svg");
}
.buttons{
    border: 5px solid green;
    display: flex;
}
.search{
    border: 5px solid yellow;
    display: flex;
}
input{
    border-radius: 15px;
    background-color:  lightgray;
    border: none;
    width: 90%;
}
.search::before{
    content: url("icons/magnify.svg");
}
/* ___________________________________________________ */
.main-content{
    border: 5px solid slateblue;
}
